.post {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    gap: 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.post__container {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.post__author {
    color: var(--color-post-author);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.post__name {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--color-text-secondary);
}